header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4vw;
  height: 80px;
}

ul {
  list-style-type: none;
}

#menu-list {
  display: none;
}

header li {
  height: 100%;
  display: flex;
  align-items: center;
}

.navActive {
  border-bottom: 3px solid white;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
  #menu-list {
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;

    .item {
      color: rgb(219, 217, 217);
      text-decoration: none;
    }
  }
  .white {
    display: none;
  }
}

@media (min-width: 1250px) {
  .white {
    display: block;
  }
  .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
